# ==========================================
# Pastas de Compilação (Geradas pelo CMake)
# ==========================================
build/
.cache/

# ==========================================
# Configurações Locais do VS Code
# ==========================================
.vscode/
# Se você quiser salvar as tarefas (tasks.json) ou o launch.json no GitHub, 
# você pode remover o .vscode/ e ignorar apenas arquivos pessoais específicos:
# .vscode/settings.json

# ==========================================
# Arquivos gerados pelo Clangd
# ==========================================
.clangd/
compile_commands.json

# ==========================================
# Arquivos Temporários e de Sistema
# ==========================================
*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db